<app-nav></app-nav>
<div class="container">
  <mat-card class="card">
    <form [formGroup]="this.actualiteService.form">
      <mat-form-field class="full-size">
        <input matInput required="required" type="text" placeholder="Titre" formControlName="titre">
      </mat-form-field>
      <mat-form-field class="full-size">
          <textarea matInput required="required" type="text" placeholder="Html" formControlName="html"></textarea>
      </mat-form-field>

      <div>
        <button mat-button
        (click)="onSubmit()">
          Ajouter
        </button>
        <a mat-button [routerLink]="['/actualites']">Retour aux actualités</a>
      </div>
      </form>
  </mat-card>

</div>
