<div class="center">
  <form [formGroup]="profileForm" (ngSubmit)=onSubmit()>
    <mat-card class="card">
          <mat-card-header>
              <mat-card-title>Connexion</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <mat-form-field class="full-size">
                <input matInput type="text" placeholder="Identifiant" formControlName="email" value="">
              </mat-form-field>
              <mat-form-field class="full-size">
                <input type="password" matInput placeholder="Mot de passe" formControlName="password" value="">
              </mat-form-field>
          </mat-card-content>
          <mat-card-actions>
              <button type="submit" class="full-size" color="primary" [disabled]="!profileForm.valid" mat-flat-button>Valider</button>
          </mat-card-actions>
        </mat-card>
      </form>
</div>
