.card {
  max-width: 400px;
}

.full-size {
  width: 100%;
}

.button-validate{
  background-color: rebeccapurple;
  color: white;
}

.center{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
